<div class="container">
  <div class="row">
    <div class="col-md-8 mt-4">
      <h2>Daftar Kontak</h2>
      <a href="/contact/tambah" class="btn btn-sm btn-primary">Tambah data</a>
      <br><br>
      <% if (msg.length != 0) { %>
      <div class="alert alert-success" role="alert">
        <%= msg %>
      </div>
      <% } %>
      <table class="table table-sm table-hover">
        <thead>
          <tr>
            <th scope="col">No</th>
            <th scope="col">Nama</th>
            <th scope="col">Email</th>
            <th scope="col">No Hp</th>
            <th scope="col">Option</th>
          </tr>
        </thead>
        <tbody>
          <% if (bacafile.length === 0) { %>
          <div class="alert alert-danger" role="alert">
            Data Kontak tidak ada
          </div>
          <tr>
            <td colspan="4" class="text-center">
              <b>Not Found</b>
            </td>
          </tr>
          <% }else { %>
          <% bacafile.forEach((list, i) => { %>
          <tr>
            <td scope="row"><%= i+1  %> </td>
            <td><%= list.nama %></td>
            <td><%= list.email %></td>
            <td><%= list.nohp %></td>
            <td>
              <a href="/contact/list/<%= list.nohp  %>" class="btn btn-sm btn-success badge rounded-pill "> <i
                  class="bi bi-info-circle"> Detail</i>
              </a>
              <a href="/contact/hapus/<%= list.nohp  %>" class="btn btn-sm btn-danger badge rounded-pill"> <i
                  class="bi bi-trash"> Hapus</i> </a>
            </td>
          </tr>
          <% }) %>
          <% } %>

        </tbody>
      </table>
    </div>
  </div>
</div